.App {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 16px;
}

.App-mobile-logo {
    display: none;
}

.App-header {
    position: relative;
    height: 325px;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    transition: all 1s;
}

.App-header-first-step {
    position: relative;
    height: 325px;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    transition: all 1s;
}

.App-header-last-step {
    position: relative;
    height: 325px;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    transition: all 1s;
}

.App-header::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.00) 65%);
}

.App-header-image {
    position: relative;
    height: 325px;
    min-height: 200px;
    max-height: 400px;
    padding: 20px 20px 20px 30px;
    transition: all 1s;
    box-sizing: border-box;
    opacity: 0;
}

.App-header-text {
    font-size: 50px;
}

.selection-panel {
    width: 55%;
    flex: 1;
}

@media all and (max-width: 768px) {
    .App-mobile-logo {
        display: block;
        box-shadow: 0 7px 10px 0 rgba(0,0,0,0.06);
    }

    .App-header-text {
        font-size: 30px;
    }

    .selection-panel {
        width: 100%;
    }

    .side-panel {
        display: none;
    }
}

@keyframes scrollIn {
    0% {
        width: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}
