.App {
    display: flex;
    position: absolute;
    width: 100%;
}

.App-header {
    position: relative;
    height: 150px;
    padding: 20px 20px 20px 30px;
    transition: all 1s;
    max-height: 320px;
}

.selection-panel {
    width: 55%;
}

@media all and (max-width: 768px) {
    .selection-panel {
        width: 100%;
    }
    
    .side-panel {
        display: none;
    }
}